@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&display=swap");

/* Selectors are in alphabetical order */

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00adb5;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

hr {
  width: 3rem;
  border-top: solid 2px #00adb5;
  margin: 20px auto 20px 0;
  text-align: left;
}

.big-heading {
  color: #eeeeee;
  font-size: 2.5rem;
}

.bottom-container {
  background-color: #222831;
  color: #eeeeee;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-me-description {
  padding-bottom: 20px;
}

.container-fluid {
  padding: 5% 10%;
}

.copyright {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.entry-container {
  padding-bottom: 2rem;
}
.entry-title {
  color: #222831;
  font-family: "Montserrat";
}

.entry-subtitle {
  margin-bottom: 0;
}

.entry-year {
  color: #00adb5;
  margin: 0;
}

.footer-link {
  display: inline-block;
  padding-right: 10px;
  text-align: center;
  font-size: 2rem;
}

.footer-link:hover {
  color: #eeeeee;
}

.img-marvelTime {
  float: left;
  width: 15%;
  margin-right: 30px;
  border-radius: 50%;
}

.section-container {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
  text-align: left;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.navbar-brand {
  margin: auto 0;
}

.navbar-collapse {
  text-align: right;
}

.navbar-custom {
  background-color: #222831;
}

.profile-description {
  text-align: center;
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #222831;
  position: relative;
}
